img#top_menu_item {
  margin-top: 44px;
}

img#menu_item {
  margin-top: 10px;
}

img#bottom_menu_item {
  margin-top: 10px;
}

img#top_label {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img#coming_soon {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 200px;
}


html {
  min-height: 101%;
}

body {
  background-image: url('webbackground.gif');
  padding: 0;
  border: 0;
  outline: 0;
  min-height: 101%;
}

#img_cell {
  float: left;
  display: block;
  vertical-align: middle;
}

p#img_title {
  text-align: center;
  vertical-align: bottom;
  margin: 0 0 0 0;
}

#page {
  width: 980px;
  margin: 0 auto 10px auto;
}

#left_menu {
  width: 180px;
  margin: 0;
  padding: 0;
  float: left;
}


img#thumb-port {
  margin: 8px;
  padding: 0;
  vertical-align: middle;
}

img#thumb-land {
  margin: 8px;
  padding: 0;
  vertical-align: middle;
}

#content {
  width: 800px;
  margin: 0;
  padding: 0;
  float: right;
}
