#page {
  width: 1018px;
  margin: 0 auto 10px auto;
}

#banner {
  width: 1018px;
  margin: 0;
  padding: 0;
  float: left;
}

#facebook_like_button {
  border:none;
  width:176px;
  margin-top: 10px;
  float: right;
}

img {
  border: 0px;
}

img.left_most {
  margin-left: 44px;
}

img.right_most {
  margin-right: 10px;
}

img#top_label {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p#art_detail {
  width: 600px;
  margin: 1em auto 1em auto;
  text-align: left;
}

html {
  min-height: 101%;
}

body {
  background-image: url('webbackground.gif');
  padding: 0;
  border: 0;
  outline: 0;
  min-height: 101%;
  text-align: center;
}

td#img_cell {
  float: left;
  display: block;
  text-align: center;
}

p#img_title {
  text-align: center;
  vertical-align: bottom;
  margin: 0 0 0 0;
}
p#top_para {
  margin-top: 40px;
  text-align: left;
  font-size: 108%;
}

p#para {
  text-align: left;
  font-size: 108%;
}

h1#form_title {
  text-align: center;
}

table {
  margin: 0 auto 0 auto;
  display: block;
}

table#form_table {
  width: 100%;
}

td#info_value {
  padding-left: 40px;
}

form {
  width: 600px;
  display: block;
  margin: 0 auto 0 auto;
}

td#form_label{
  text-align: right;
  width: 120px;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

img#thumb-port {
  margin: 8px;
  padding: 0;
  vertical-align: middle;
}

img#thumb-land {
  margin: 8px;
  padding: 0;
  vertical-align: middle;
}

#content {
  margin: 0;
  padding: 0;
}

img.top_content {
  display: block;
}

img.left_content {
  float: left;
}

img.right_content {
  float: right;
}
