img {
  border: 0px;
}

img#top_menu_item {
  margin-top: 44px;
}

img#menu_item {
  margin-top: 10px;
}

img#bottom_menu_item {
  margin-top: 10px;
}

img#top_label {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img#coming_soon {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 200px;
}

p#art_detail {
  width: 600px;
  margin: 1em auto 1em auto;
  text-align: left;
}

html {
  min-height: 101%;
}

body {
  background-image: url('webbackground.gif');
  padding: 0;
  border: 0;
  outline: 0;
  min-height: 101%;
  text-align: center;
}

td#img_cell {
  float: left;
  display: block;
  text-align: center;
}

p#img_title {
  text-align: center;
  vertical-align: bottom;
  margin: 0 0 0 0;
}
p#top_para {
  margin-top: 140px;
  text-align: left;
  margin-left: 50px;
  margin-right: 100px;
  font-size: 108%;
}

p#para {
  text-align: left;
  margin-left: 50px;
  margin-right: 100px;
  font-size: 108%;
}

h1#form_title {
  text-align: center;
}

table#form_table {
  margin: 0 auto 0 auto;
  width: 100%;
}

table#info_table {
  margin: 0 auto 0 auto;
}

td#info_value {
  padding-left: 40px;
}

form {
  width: 600px;
  display: block;
  margin: 0 auto 0 auto;
}

td#form_label{
  text-align: right;
  width: 120px;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

#page {
  width: 980px;
  margin: 0 auto 10px auto;
}

#left_menu {
  width: 178px;
  margin: 0;
  padding: 0;
  float: left;
}


img#thumb-port {
  margin: 8px;
  padding: 0;
  vertical-align: middle;
}

img#thumb-land {
  margin: 8px;
  padding: 0;
  vertical-align: middle;
}

#content {
  width: 800px;
  margin: 0;
  padding: 0;
  float: right;
}
