<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attribute_class.name %>
</p>


<%= link_to 'Edit', edit_attribute_class_path(@attribute_class) %> |
<%= link_to 'Back', attribute_classes_path %>
