!!!
%html
  %head
    %title Soley Inspired: Handcrafted Jewelry &amp; Decor
    %meta{:content => "Handcrafted jewelry and decor. Balancing the rustic and industrial to create earthy elegant clay, metal, and stone art.", :name => "description"}/
    %meta{:content => "Handcrafted,Clay,Metal,Stone,Jewelry,Decor,Rustic,Industrial,Earthy,Elegant,Natural,Hematite,Quartz,Tiger's Eye,Onyx,Agate,Jasper,Silver,Brass,Copper,Steampunk,Clocks,Gears,Victorian,Coins,Pendant,Earring,Necklace,Handmade,Artisan,Philadelphia,Wire Wrapping", :name => "keywords"}/
    %meta{:content => "Suzanne Oleykowski, 18/01/2012", :name => "revised"}/
    %meta{:content => "Suzanne Oleykowski", :name => "author"}/
    %meta{:content => "NOARCHIVE", :name => "robots"}/
    %meta{:content => "en-US", "http-equiv" => "content-language"}/
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "Fri, 13 Jan 2012 04:50:55 GMT", "http-equiv" => "date"}/
    %meta{:content => "Thu, 19 Jan 2012 03:51:06 GMT", "http-equiv" => "last-modified"}/
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #page
      #left_menu
        %a{:href => "index.html"}
          %img#top_menu_item{:src => "website-button-home.png"}/
        %a{:href => "pendants.php"}
          %img#menu_item{:src => "website-button-pendants.png"}/
        %a{:href => "earrings.html"}
          %img#menu_item{:src => "website-button-earrings.png"}/
        %a{:href => "pottery.html"}
          %img#menu_item{:src => "website-button-pottery.png"}/
        %a{:href => "http://soleyinspired.etsy.com"}
          %img#menu_item{:src => "website-button-store.png"}/
        %a{:href => "aboutme.html"}
          %img#bottom_menu_item{:src => "website-button-aboutme.png"}/
        %iframe#facebook_like_button{:frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/soleyinspired"}
      #content
        %img#top_content{:src => "Soley-Inspired-Web.png"}
          %a{:href => "http://www.facebook.com/soleyinspired"}
            %img#left_content{:src => "Soley-Inspired-Web-Facebook.png", :title => "Click to see pictures and interact at the Soleyinspired Facebook site"}/
          %a{:href => "http://www.soleyinspired.etsy.com/soleyinspired"}
            %img#right_content{:src => "Soley-Inspired-Web-Etsy.png", :title => "Click to shop at the Soleyinspired Etsy site"}/
          %a{:href => "mailto:sue@soleyinspired.com"}
            %img#left_content{:src => "Soley-Inspired-Web-Email.png", :title => "Click to contact me"}/
