!!! Strict
%html
  %head
    %title Soley Inspired: Handcrafted Jewelry &amp; Decor
    %meta{:content => "Handcrafted jewelry and decor. Balancing the rustic and industrial to create earthy elegant clay, metal, and stone art.", :name => "description"}/
    %meta{:content => "Handcrafted,Clay,Metal,Stone,Jewelry,Decor,Rustic,Industrial,Earthy,Elegant,Natural,Hematite,Quartz,Tiger's Eye,Onyx,Agate,Jasper,Silver,Brass,Copper,Steampunk,Clocks,Gears,Victorian,Coins,Pendant,Earring,Necklace,Handmade,Artisan,Philadelphia,Wire Wrapping", :name => "keywords"}/
    %meta{:content => "Suzanne Oleykowski, 18/01/2012", :name => "revised"}/
    %meta{:content => "Suzanne Oleykowski", :name => "author"}/
    %meta{:content => "NOARCHIVE", :name => "robots"}/
    %meta{:content => "en-US", "http-equiv" => "content-language"}/
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "Fri, 13 Jan 2012 04:50:55 GMT", "http-equiv" => "date"}/
    %meta{:content => "Wed, 24 Oct 2012 04:45:06 GMT", "http-equiv" => "last-modified"}/
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #page
      #banner
        %a{:href => "index.html"}
          %img.left_content{:src => "website-button-home.png"}
        %iframe#facebook_like_button{:frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/soleyinspired"}
      %br{:clear => "both"}
      #menu
        %a.menu_item_link{:href => "aboutme.html"}
          %span.menu_item.left_most About Me
        %a.menu_item_link{:href => "pottery.html"}
          %span.menu_item Pottery
        %a.menu_item_link{:href => "earrings.html"}
          %span.menu_item Jewelry
        %a.menu_item_link{:href => "http://soleyinspired.etsy.com"}
          %span.menu_item Store
        %a.menu_item_link{:href => "pendants.php"}
          %span.menu_item.right_most Contact
      #content
        %img.top_content{:src => "Soley-Inspired-Web.png", :style => "margin: 0 auto 0 auto;"}
          %a{:href => "http://www.facebook.com/soleyinspired"}
            %img.left_content{:src => "Soley-Inspired-Web-Facebook.png", :title => "Click to see pictures and interact at the Soleyinspired Facebook site"}/
          %a{:href => "http://www.soleyinspired.etsy.com/soleyinspired"}
            %img.right_content{:src => "Soley-Inspired-Web-Etsy.png", :title => "Click to shop at the Soleyinspired Etsy site"}/
          %a{:href => "mailto:sue@soleyinspired.com"}
            %img.left_content{:src => "Soley-Inspired-Web-Email.png", :title => "Click to contact me"}/
